.art-img {
  width: 120px;
  height: 120px;
  margin: 0 1em;
}
.col {
  display: flex;
  align-items: center;
  margin: .5em .5em;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em .5em;
  
}
a {
  text-decoration: none;
  color: black;
}
div:hover {
  opacity: 75%;
}
.container {
  background-color: rgb(170, 81, 81);
  padding-right: 1em;
}
.profile-img {
  width: 40px;
  height: 40px;
  padding: 0;
  clip-path: circle(50% at 50% 50%);
}
p{
    margin: 0;
    padding: 0;
}