<div class="container"
	 fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
>
    
	<div class="row top-bar">
        <h3>Search and Login Bar</h3>     		
    </div>


<div id="flexcontainer">	 

	
	<div class="col rec-mus">
        <h3>Recommended Music</h3>  
			<app-general-recommend-music [generalRecommendMusicItems]="generalRecommendMusicItems"></app-general-recommend-music>
    </div>
	
	<div class="col event-cal">
        <h3>Event Calendar</h3>
			<app-upcoming-events [upcomingEventsItems]="upcomingEventsItems"></app-upcoming-events>
    </div>
	
	
	<div class="scroll-fd">
        <h3></h3>  
			 <app-main-feed [feedItems]="feedItems"></app-main-feed>
    </div>
	
	<div class="col frnd-act">
        <h3></h3>        
			<app-friends-recents [friendsRecentsItems]="friendsRecentsItems"></app-friends-recents>
	</div>
		
	<div class="col hilht-plylst">
        <h3></h3>
			<app-friends-playlists-recommend [friendsPlaylistsRecommendItems]="friendsPlaylistsRecommendItems"></app-friends-playlists-recommend>

    </div>
</div>

