<div class="container"
	 fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="10px"
>
    
	<div class="row top-bar">
        <h3>Search and Login Bar</h3>     		
    </div>

<div id="flexcontainer">	 

	
	<div class="rec-mus">
        <h3>Recommended Music</h3>  
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>	
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>	
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>			
    </div>
	
	<div class="event-cal">
        <h3>Event Calendar</h3>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>	
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>	
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
			<app-info-image></app-info-image>
    </div>
	
	
	<div class="scroll-fd">
        <h3>Scroll Feed</h3>  
			 <app-main-feed [feedItems]="feedItems"></app-main-feed>
    </div>
	
	<div class="frnd-act">
        <h3>Recent Friend Activity</h3>        
			<app-friends-recents [friendsRecentsItems]="friendsRecentsItems" class="col grey-bg"></app-friends-recents>
	</div>
		
		<div class="hilht-plylst">
        <h3>Highlighted Playlists</h3>
			<app-friends-playlists-recommend [friendsPlaylistsRecommendItems]="friendsPlaylistsRecommendItems"></app-friends-playlists-recommend>
    </div>
</div>

