<a href="{{link}}">
    <div class="col container">
        <div class="row">
            <img src="{{imgPath}}" class="profile-img">  
        </div>
        <div class="row">
        <img src="{{albumPath}}" class="album-img">
        </div>
        <div class="info">
         <p>{{username}}</p>
        <p>{{song}}</p>
        <p>{{artist}}</p>
        <p>{{album}}</p>
        </div>
		<button class="button" title="Like">👍</button>
		<button class="button" title="Dislike">👎</button>
		<button class="button" title="Save to Favorite">➕</button>
    </div>
</a>