<div class="flex-grid">
    <div class="col">
        <h3>Recently Played</h3>
        <app-info-image></app-info-image>
        
    </div>
    <div class="col blue-bg">
        <h3>Recently Played</h3>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
        <app-info-image></app-info-image>
    </div>
    <div class="col green-bg">
        <h3>Highlighted Playlists</h3>
        <app-info-image></app-info-image>
    </div>
    <div class="col red-bg">
        <h3>Highlighted Albums/Artists</h3>
        <app-info-image></app-info-image>
    </div>
</div>