.blue-bg {
  height: 800px;
  background: #2f73a5;
  border-radius: 20px;
}
.green-bg {
  height: 800px;
  background: #49821d;
  border-radius: 20px;
}
.red-bg {
  height: 800px;
  background: #a52f2f;
  border-radius: 20px;
}

.art-img {
  width: 120px;
  height: 120px;
  background-color: grey;
  margin: 0 1em;
}
.profile-img {
  transition: 0.4s cubic-bezier(1, -1, 0, 2);
  clip-path: circle(50% at 50% 50%);
}
.profile-img:hover {
  clip-path: circle(80% at 50% 50%);
}
h3 {
  padding: 0.625rem 0;
}

.hidden-modal .modal-content {
  background: none;
  border: none;
}
