<div id="flexcontainer">
    <div class="col blue-bg" style="text-align: left;padding: 3em;">
        <h3>Album Info</h3>
        <img src="https://picsum.photos/200" class="art-img playlist-img">
        <p>
            <b>{{albumName}}</b>
            <br>
            <b>Total Runtime: {{albumLen}}</b>
            <br>
            <b>Song Count: {{numSongs}}</b>
            <br>
            <b>Artist: {{artist}}</b>            
        </p>
		<button class = "button" title="Share Album">SHARE</button>
		<button class="button" title="Like Album">👍</button>
		<button class="button" title="Dislike Album">👎</button>
		<button class="button" title="Save to Favorite Albums">➕</button>
		<button class="button" title="Comment" (click)="open(comment)">💬</button>
    <div class="col green-bg">
        <h3>Track List</h3>
        <a *ngFor="let item of albumItems; index as i;">
            <app-album-tracks-popout-item [imgPath]="item[0]" [albumPath]="item[1]" [song]="item[2]" [artist]="item[3]" [album]="item[4]" [link]=""></app-album-tracks-popout-item>
        </a>
    </div>
	<div class="col green-bg">
        <h3>Album Info</h3>
        <a *ngFor="let item of albumInfoItems; index as i;">
            <app-album-info-popout-item [infoType]="item[0]" [info]="item[1]" [link]=""></app-album-info-popout-item>
        </a>
    </div>

</div>
<ng-template #comment let-modal>

    <app-comment-popout></app-comment-popout>

</ng-template>